:root {
  --main-bg: #3498db;   
  --nav-bg: #2c3e50;   
  --accent: #e74c3c;   
  --text-color: #333333;
  --page-bg: #ecf0f1;
}
.page {
  min-height: 100vh;
}


body {
  direction: rtl;
  margin: 0;
  font-family: Tahoma, sans-serif;
  background-color: var(--page-bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-repeat: no-repeat;

}

body::before {
  content: "";
  inset: 0;
  background: url("Hard.jpg") center / cover no-repeat;
  filter: blur(6px);
  transform: scale(1.05); 
  z-index: -1;
}

@media (max-width: 768px) {
  body::before {
    filter: blur(6px); 
  }
}



main {
  flex: 1; 
}

footer {
  background: var(--main-bg);
  text-align: center;
  padding: 15px;
  color: white;
  margin-top: auto;
}


header {
  background: var(--main-bg);
  padding: 15px;
  text-align: center;
  color: white;
  top: 0;
  z-index: 1000;
}

.label {
  background: var(--nav-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 12px;
  top: 60px;
  z-index: 999;
}

.label a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.label a:hover {
  color: var(--accent);
}
.article {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  background: #fff;
  width:900px;
}

.search {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.section {
  margin-bottom: 40px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap:50px;
  padding:60px;
  

}

.product {
  background: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
  
  background-color:#E6E6E6;
  
}

.product:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.product img {
  width: 100%;
  height: 420px;
  border-radius: 8px;
  object-fit: contain;
}
button {
  margin-top: 10px;
  padding: 10px 17px;
  background: var(--accent);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  margin-top: auto;
   align-self: center;
}

button:hover {
  background: darkred;
}

footer {
  background: var(--main-bg);
  text-align: center;
  padding: 15px;
  color: white;
}
.about{
	color:white;
	padding:10px;
}
.section h2{
	color:white;
}
@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
}





